*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #001e4d;
}

.app {
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#quiz-maker {
    margin-bottom: 20px;
}

#questions-container input[type="text"], #questions-container input[type="number"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#questions-container input[type="text"]:focus, #questions-container input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}

#add-question,
#add-options,
#add-correct-answer,
#set-quiz,
#show-quiz,
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-question:hover,
#add-options:hover,
#add-correct-answer:hover,
#set-quiz:hover,
#show-quiz:hover,
button:hover {
    background-color: #0056b3;
}

#quiz, #play-again, #see-quiz {
    display: none;
}

#quiz p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

#quiz div {
    margin-bottom: 10px;
}

#quiz div label {
    display: block;
}

#quiz div input[type="radio"] {
    margin-right: 5px;
}

#score {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
#see-quiz,
#play-again {
        width: 50%;
        margin: 10px 120px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}
#see-quiz:hover,
#play-again:hover {
    background-color: #0056b3;
}